{
  "root": true,
  "parser": "@typescript-eslint/parser",
  "extends": [
    "plugin:@typescript-eslint/recommended",
    "prettier",
    "plugin:prettier/recommended"
  ],
  "plugins": [
    "import"
  ],
  "overrides": [
    {
      "files": [
        "src/**/*.ts"
      ],
      "parserOptions": {
        "ecmaVersion": 2018,
        "sourceType": "module"
      }
    },
    {
      "files": [
        "__tests__/**/*.ts"
      ],
      "env": {
        "jest": true
      }
    }
  ],
  "rules": {
    "prefer-const": [
      "error",
      {
        "destructuring": "all"
      }
    ],
    "import/no-default-export": "error",
    "@typescript-eslint/ban-ts-ignore": "off",
    "@typescript-eslint/no-explicit-any": "off",
    "@typescript-eslint/no-empty-function": "off",
    "@typescript-eslint/no-empty-interface": "off",
    "@typescript-eslint/no-inferrable-types": "off",
    "@typescript-eslint/no-use-before-define": "off",
    "@typescript-eslint/interface-name-prefix": "off",
    "@typescript-eslint/triple-slash-reference": "off",
    "@typescript-eslint/explicit-module-boundary-types": "off",
    "@typescript-eslint/no-unused-vars": "off"
  }
}
